root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 100

[*.{c,h,cpp,hpp,cc,cu,cuh}]
indent_size = 4

[*.py]
indent_size = 4

[*.{js,ts,jsx,tsx,json,jsonc,yaml,yml,toml}]
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{sh,bash}]
indent_size = 4
