numpy
# TODO python3: scipy 1.3.0 removed some previously deprecated functions, still used by vmaf
scipy>=0.17.1,<1.3.0
matplotlib>=2.0.0
pandas>=0.19.2
scikit-learn>=0.18.1
scikit-image>=0.13.1
h5py>=2.6.0
sureal>=0.1.0
