name: libvmaf
on:
  push:
  pull_request:

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  libvmaf-build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-18.04
            CC: ccache gcc
            CXX: ccache g++
          - os: ubuntu-18.04
            CC: ccache gcc-9
            CXX: ccache g++-9
          - os: ubuntu-18.04
            CC: ccache clang
            CXX: ccache clang++
          - os: macos-10.15
            CC: ccache clang
            CXX: ccache clang++
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.CC }}
      CXX: ${{ matrix.CXX }}
    steps:
      - name: Setup python
        uses: actions/setup-python@v1.2.0
        with:
          python-version: 3.8
      - name: Install meson and ninja
        run: |
          python -m pip install --upgrade pip
          pip install meson

      - name: Install dependencies (ubuntu)
        if: matrix.os == 'ubuntu-18.04'
        run: |
          sudo apt-get update
          sudo -E apt-get -yq install ccache ninja-build
          case "$CC" in
          *gcc) sudo -E apt-get -yq install gcc g++ ;;
          *gcc-9)
            sudo -E apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
            sudo -E apt-get -yq install gcc-9 g++-9
            ;;
          *clang) sudo -E apt-get -yq install clang ;;
          esac
          $CC --version
          meson --version
          ccache --version

      - name: Install dependencies (mac)
        if: matrix.os == 'macos-10.15'
        run: |
          brew update
          brew install ccache ninja
          $CC --version
          meson --version
          ccache --version

      - uses: actions/checkout@v2
      - name: Run meson
        run: |
          sudo chown -R runner: $HOME/.ccache
          meson setup libvmaf libvmaf/build --buildtype release
      - name: Run ninja
        run: |
          sudo ninja -vC libvmaf/build install
      - name: Run tests
        run: |
          sudo ninja -vC libvmaf/build test
